.app {
  display: grid;
  place-items: center;
}

.actions {
  display: flex;
}

.arrayContainer {
  display: flex;
}

.arrayContainer__bar {
  width: fit-content;
  margin: 0 2px;
  padding: 10px;
  color: white;
  transition: all 100ms linear;
}
